doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://global.oktacdn.com/okta-signin-widget/5.14.1/css/okta-sign-in.min.css')
  body
    block content
    #widget-container

  script(src='https://global.oktacdn.com/okta-signin-widget/5.14.1/js/okta-sign-in.min.js')
  script.
    baseUrl="#{baseUrl}"
    console.log('base url', baseUrl)
    var signIn = new OktaSignIn({ baseUrl: 'https://dev-76476905.okta.com'});
    signIn.renderEl({
      el: '#widget-container'
    }, function sucess(res) {
      if (res.status === 'SUCCESS') {
        console.log('Do something with this sessionToken', res.session.token)
        //- res.session.setCookieAndRedirect('https://dev-76476905.okta.com/app/UserHome')
      }
    })
